<!-- Toolbar -->
<header>
  <app-toolbar></app-toolbar>
</header>

<!-- Main -->
<div class="content" role="main">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h1>
          {{MainHeader}}
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-8">
        <app-main></app-main>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <app-right></app-right>
      </div>
    </div>
  </div>
</div>